/**
 * 行高样式 - 小 (50px)
 */

/* 剪贴板列表样式 */
.row-height-small .clipboard-item {
    padding: 8px;
    height: 50px !important;
}

.row-height-small .clipboard-image {
    position: absolute !important;
    height: 66% !important;
}

.row-height-small .clipboard-timestamp {
    display: none !important;
}

.row-height-small .clipboard-text {
    font-size: 12px !important;
}

.row-height-small .file-summary {
    display: none !important;
}

.row-height-small.file-style-icons-only .clipboard-files-inner {
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr)) !important;

}

.row-height-small .file-item {
    padding: 0px 0px !important;
}

.row-height-small .file-icon {
    width: 28px !important;
    height: 28px !important;
}

.row-height-small .file-info {
    gap: 0px !important;
}

.row-height-small .file-name {
    font-size: 11px !important;
}

/* 常用文本列表样式*/
.row-height-small .quick-text-item {
    padding: 8px !important;
    height: 50px !important;
}

.row-height-small .quick-text-timestamp {
    display: none !important;
}

.row-height-small .quick-text-title {
    font-size: 12px !important;
    line-height: 1.2 !important;
    margin-bottom: 4px !important;
    display: none !important;
}

.row-height-small .quick-text-content {
    font-size: 11px !important;
    /* line-height: 1.1 !important; */
    max-height: 35px !important;
    overflow: hidden !important;
    font-weight: bold !important;
}

.row-height-small .quick-text-image {
    height: 100%;
}

.row-height-small .quick-text-meta {
    display: none !important;
}

/* 颜色预览 */
.row-height-small .color-preview-container {
    gap: 6px !important;
    padding: 2px 6px !important;
}

.row-height-small .color-preview-swatch {
    width: 16px !important;
    height: 16px !important;
}

.row-height-small .color-preview-value {
    padding: 1px 4px !important;
    font-size: 10px !important;
}